ul
{ 
list-style-type:none;
}
body
{
  min-width: 640px;
  margin:0;
  padding:0;
  line-height: 1.5em;
}
/**
 * rounded corners...
**/
#footer, #header, #main-left-side, #main-content
{
  border-radius: 7px;
 -o-border-radius: 5px;
 -icab-border-radius: 5px;
 -khtml-border-radius: 5px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
}


/**
 * used by the small icons in the footer :)
**/
.table
{
  overflow: hidden;
}

.table .column
{ 
  float: left;
  width: 100%;
}

/**
 * padding
**/
.innertube{
margin: 10px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}
.smallinnertube{
margin: 0px; /*Margins for inner DIV inside each DIV (to provide padding)*/
}


.leftaligned
{ 
  display:inline;
  width: 45%;
  text-align: left;
  float:left;
  padding-left: 5px;
/*  background-color:#d33;*/
}
.rightaligned
{ 
  display:inline;
  width: 45%;
  text-align: right;
  float: right;
  padding-right: 5px;
/*  background-color:#3d3;*/
}

.clearedboth
{ 
  clear:both;
}

.a-noline
{
  text-decoration:none;
}