{% extends "main/base_site.html" %}
{% block extrahead %}
<script src="/media/js/XO.js"></script>
{% endblock %}
{% block main_content %}
<div id="title">
  <h1>X and O</h1>
</div>
<div id="caption">
  <h3>Just a simple game of <b>tic tac toe</b>.</h3>
</div>
<div id="text">
  <br />
  <script>initGame(null, null);</script>
</div>
{% endblock %}

{% block footer_right %}<a class="a-noline" href="http://www.djangoproject.com/"><img src="/media/img/django-powered.png"></img></a>
{% endblock %}

{% block footer%}
<div class="clearedboth"></div>
{% endblock%}
