{% extends "main/base_site.html" %}
{% load i18n %}

{% block main_content %}
<h3>Barbecue</h3>
Pictures from the latest ODC barbecue can be found <a href="/oldies/pics">here</a>.
<h3>MagicDrawUML Community Edition</h3>
Magic Draw UML is an UML design software which produces good looking diagrams.<br/>
Some links:<br/>
<ul>
  <li><a href = "/data/MD_UML_121_CE_no_install.zip">MD_UML_121_CE_no_install</a></li>
  <li><a href = "/data/MD_UML_121_CE_unix.sh">MD_UML_121_CE_unix</a></li>
</ul>

<p>
  <h3>Java JDK 1.6.0</h3>
  This is required to run MagicDrawUML (maybe new version works as well... but this one is tested and proved to be working).<br/>
  <ul>
    <li><a href = "/data/jdk-6-rc-linux-i586.bin"> jdk 6 </a></li>
  </ul>
</p>
{% endblock %}
